<div class="calendar-input-wrapper" #inputWrapperElement (click)="inputClickedHandler(startDayInput)">
    <div class="calendar-input-content">
        <input #startDayInput
               class="date-input date-input__start date-input__start__day"
               placeholder="00"
               (click)="$event.stopImmediatePropagation()"
               (focusout)="focusOut(startDay, 'day')"
               (input)="startDayChange(startDay, startMonthInput)"
               [(ngModel)]="startDay"
        >
        /
        <input #startMonthInput
               class="date-input date-input__start date-input__start__month"
               placeholder="00"
               (click)="$event.stopImmediatePropagation()"
               (focusout)="focusOut(startMonth, 'month')"
               (input)="startDayChange(startMonth, startYearInput)"
               [(ngModel)]="startMonth">
        /
        <input #startYearInput
               class="date-input date-input__start date-input__start__year"
               placeholder="00"
               (click)="$event.stopImmediatePropagation()"
               (focusout)="focusOut(startYear, 'year')"
               (input)="startDayChange(startYear)"
               [(ngModel)]="startYear">
    </div>
</div>
