<div class="calendar-input-wrapper" (click)="focusStartDay(startDayInput)">
    <div class="calendar-input-content">
        <input #startDayInput
               class="date-input date-input__start date-input__start__day"
               placeholder="00"
               (click)="$event.stopImmediatePropagation()"
               (focusout)="focusOut(startDaySignal, 'day', startMonthInput)"
               (input)="startDayChange(startDaySignal, startMonthInput)"
               [(ngModel)]="startDaySignal"
        >
        /
        <input #startMonthInput
               class="date-input date-input__start date-input__start__month"
               placeholder="00"
               (click)="$event.stopImmediatePropagation()"
               (focusout)="focusOut(startMonthSignal, 'month', startYearInput)"
               (input)="startDayChange(startMonthSignal, startYearInput)"
               [(ngModel)]="startMonthSignal">
        /
        <input #startYearInput
               class="date-input date-input__start date-input__start__year"
               placeholder="00"
               (click)="$event.stopImmediatePropagation()"
               (focusout)="focusOut(startYearSignal, 'year')"
               (input)="startDayChange(startYearSignal)"
               [(ngModel)]="startYearSignal">
    </div>
</div>
