<div class="calendar">
    <div class="calendar-header">
        <div class="calendar-header-actions">
            <button (click)="setToday()">Today</button>
        </div>
        <div class="calendar-header-dates">
            <div class="dates-actions">
                <fa-icon [icon]="chevronLeft"
                         (click)="chevronHandler(month,'left', {maxValue: 11, minValue: 0})"></fa-icon>
                <p>{{numberToMonth(month() ? month() : todayDate().getMonth())}}</p>
                <fa-icon [icon]="chevronRight"
                         (click)="chevronHandler(month,'right', {maxValue: 11, minValue: 0})"></fa-icon>
            </div>
            <div class="dates-actions">
                <fa-icon [icon]="chevronLeft" (click)="chevronHandler(year,'left')"></fa-icon>
                <p>{{year() ? year() : todayDate().getFullYear()}}</p>
                <fa-icon [icon]="chevronRight" (click)="chevronHandler(year,'right')"></fa-icon>
            </div>
        </div>
    </div>
    <div class="selected-dates">
        <span *ngIf="isDateValid(selectedStartDate())">{{selectedStartDate() | date: 'dd MMMM, YYYY'}}</span>
    </div>
    <div class="calendar-data">
        <ul class="calendar-data-weeks">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
        </ul>
        <ul class="calendar-data-dates">
            <ng-container *ngFor="let uiDate of generatedUi()">
                <li (click)="selectDate(uiDate)" [ngClass]="getUiClass(uiDate)">
                    <div class="date">
                        {{uiDate.date}}
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
